{
  "name": "Language study",
  "notes": "Ordering preferences",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=327B747D",
  "conditions": [
    {
      "name": "condition1",
      "experiment_URL": "https://leylakursat.github.io/ctsl_pragmatics2/03_ordering_preferences/english/",
      "participants": 1
    }
  ]
}